<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="ronove">
    <title>RO-BOT REST API~</title>
    <meta property="og:site_name" name="og:site_name" content="LoL Human APIs">
    <meta property="og:title" name="og:title" content="LoL Human - REST APIs">
    <meta property="og:url" name="og:url" content="https://api.lolhuman.xyz/">
    <meta property="og:image" name="og:image" content="/static/icon/android-icon-192x192.png">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://api.lolhuman.xyz//static/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://api.lolhuman.xyz/">
    <link rel="stylesheet" href="https://api.lolhuman.xyz//static/fontawesome5/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="http://iwak.nobita-fansub-indonesia.xyz/bg.css">
</head>

<body>
    <div class="text">
        <div class="status">
            <p>API STATUS: <span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
        <hr>
        <div class="readdocs">
            <p>Read <a href="api" class="docs">Docs.</a></p>
        </div>
    </div>
</body>
<script src="https://api.lolhuman.xyz//static/js/script.js"></script>

</html>
